<body style="background-color:#7f8c8d;">
<nav class="navbar navbar-static-top navbar-default" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Rush Alert</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Contact Us", contacts_path %></li>
                <li><%= link_to "Journey", journey_path %></li>
                </li>
              </ul>
            </div>
          </div>
        </nav>

<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" <%= image_tag "fam.jpg",size: "140x140"  %>>
          <h2>One Family</h2>
          <p>At the end of the day the Athletic Family is the biggest family of the day. From Recreation to Highschool to the final days in College. Let Rush Alert Help You Achieve Greatest not just in Athletics but also academics. Communication is very important please do not hesitate to contact us</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" <%= image_tag "Playbook.jpg",size: "140x140"  %>>
          <h2>Getting Prepared</h2>
          <p>Don't wait to the last second. We encourage our athletes to get started now. Start Developing the skills in your dream career not after college but your Freshmen year in High School. Good Things come to those who wait, but dreams are made into a reality with those who hutsle.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" <%= image_tag "explore.jpg",size: "140x140"  %>>
          <h2>The Journey</h2>
          <p>We donot want to be involved when you have reached the end of your journey. We want to be involve from your freshmen year in highschool through your first day at your dream job, whether its working in Law Enforcement, Developing New Software, or Getting Involved in the Medical Field.</p>
          <p><a class="btn btn-default" href="home/onejourney" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Our Responsibility <span class="text-muted">Hold Us Accountable.</span></h2>
          <p class="lead">When our Athletes Fail We Fail. We Accept Full Responsibility For When You Do Not Get The Job You Deserve. We Are About To Making Dreams Come True. Help Us To Be Responsible. We Will Not Fail You.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag "res.jpg"  %>>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <%= image_tag "huddle.jpg"  %>>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Teamwork <span class="text-muted">A Foundation We Bulit On.</span></h2>
          <p class="lead">Teamwork makes the dreamwork. We are one team. Let us help each other. Even after when you earn your dream career, stop by and share your story. Let others know what it takes to be Great in all areas of your life.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Social Network <span class="text-muted">Connecting All The Pieces.</span></h2>
          <p class="lead">We will communicate for you. Rush Alert will send you notifications of other Job Placement Programs. If you find a Job Placement Industry Notify Us!!! We will send you and prepare you for the skills you need to be placed by that agency. </p>
        </div>
        <div class="col-md-5">
          <%= image_tag "RushAlert-Logo-03.png"  %>>
        </div>
      </div>
