<body style="background-color:#7f8c8d;">
<nav class="navbar navbar-static-top navbar-default" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Rush Alert</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Contact Us", contacts_path %></li>
                <li><%= link_to "Journey", journey_path %></li>
                </li>
              </ul>
            </div>
          </div>
        </nav>

<div class="container marketing">



      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">The Journey <span class="text-muted">.</span></h2>
          <p class="lead">In life people have different methods in achieving their goals. Some use the a method where they apply for a million jobs, and wait to see who calls back. Others rely on others to set them up with a interview. And some people take one step at a time. They focus on one thing then they move on tho the next. For our athletes we will be doing a method that we call the 4 quarter rush.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag "moutain2.jpg", :size => "500x500"  %>>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Four Quarter <span class="text-muted">Prepare The Meal.</span></h2>
          <p class="lead">Our four quarters does not me four quarters in a football game. Instead we will take a football field and divide it up into 4 quarters, which means that each quarter will be 25 yards. The touch down will be the job that you earn. The four quaters will consist of six parts. The sixth part will be optional.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag "football.jpg"  %>>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Pre Game <span class="text-muted">Prepare The Meal.</span></h2>
          <p class="lead">Before Every game we have to eat a big meal. During the Pre-game meal we will talk about what it will take for you to be successful in the coorporate world. The only thing is that you will be doing the talking. We will ask you questions to determine what will be the best course of action. Things will be ask such as, what college would like to attend if any? What is your intended major? Why did you pick that major? What is the most imporant thing to you? We will ask you questions so that we can build a relationship..</p>
        </div>
        <div class="col-md-5">
          <%= image_tag "food.jpg", :size => "500x500"  %>>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <%= image_tag "25.jpg"  %>>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">First Quarter <span class="text-muted">Start Off Strong.</span></h2>
          <p class="lead">The First Quarter Will Consist Of Preparation. This could be a challenging rush. We have to get you resume ready. We will make sure you are equip with a resume, cover letter, and writing skills so that we will be successful in The Four Quarter Rush. This includes writing exercises, resume building exercises, communication exersises, and the do's and not's of coorporate america.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Second Quarter <span class="text-muted">Just Getting Started.</span></h2>
          <p class="lead">Its Time We Get In Contact With Job Placement Agencies That Will Help You Get In The Door. We will present your newly acquire skills to job placement agencies so that they can tell you what skills you will need to be place at your dream career. We want you to not lose communication with us this step. We want you to keep in contact with us, so we can know what the agency is telling you and how we can make your training easier. </p>
        </div>
        <div class="col-md-5">
          <%= image_tag "two.jpg"  %>>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Third Quarter <span class="text-muted">Half Way There.</span></h2>
          <p class="lead">This is when we take your resume and cover letter and present it to other companies. We will personally upload and apply for jobs for you when you are not able too. You will give us other companies names and then we will apply for your by uploading your resume through Indeed, Careerbuilder, and other Sources.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag "tree.jpg"  %>>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <%= image_tag "four.jpg"  %>>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Fourth Quarter <span class="text-muted">The Final Push.</span></h2>
          <p class="lead">Next is the job interview. This is the Final quarter. This quarter does not start until you get a call for an interview. After that we encourage you to contact us so we can do Mock Interviews, and sharpen communication skills. We will not stop until we get the career you want.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Extra Point <span class="text-muted">Education.</span></h2>
          <p class="lead">Once we get earn the job how about we apply to a near by school in your future job area. This step is optional but we encourage education. However we aprreciate if you send us a thank you card, and if you can update your profile information so we may contact you to talk and reflect on your experiences.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag "OT.png"  %>>
        </div>
      </div>
  </body>
