<body style="background-color:black;">
 <%= render 'layouts/header' %>

<div class= "jumbotron" >
 <div class= "container">
    <div align="left">
      <h3>Send A message to Us, Give A Quick Overiew About YourSelf.</h3>
      <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
        <%= f.label :name, :required => true  %>
        <br>
        <%= f.text_field :name %>
        <br>
        <%= f.label :email %>
        <br>
        <%= f.text_field :email, :required => true  %>
        <br>
        <%= f.label :message %>
        <br>
        <%= f.text_area :message, :required => true %>
        <div class= "hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div>
          <br>
          <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
        </div>
      <% end %>
    </div>
 </div>
</div>
</body>